<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ZavodApp"
        tools:targetApi="31">
        <activity android:name=".LoginActivity"
            android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
        <activity android:name=".ReadActivityUser" />
        <activity android:name=".ShowActivityUser" />
        <activity android:name="com.example.zavodapp.ControlActivityAdmin" />
        <activity android:name="com.example.zavodapp.MainActivityUser" />
        <activity android:name="com.example.zavodapp.ChoissActivity" />
        <activity android:name="com.example.zavodapp.MainActivityDetals" />
        <activity android:name="com.example.zavodapp.ShowActivitiDetails" />
        <activity android:name="com.example.zavodapp.ReadActivityDetails" />
        <activity android:name="com.example.zavodapp.ReadActivityProduct" />
        <activity android:name="com.example.zavodapp.ShowActivityProduct" />
        <activity android:name="com.example.zavodapp.MainActivityProduct" />
        <activity android:name="com.example.zavodapp.MainManOrDetails" />
        <activity android:name="com.example.zavodapp.ShowManOrDetails" />
        <activity android:name="com.example.zavodapp.ReadManOrDetails" />
        <activity android:name="com.example.zavodapp.ControlActivityWorker" />
        <activity android:name="com.example.zavodapp.CompleteWorker" />
        <activity android:name="com.example.zavodapp.ReadComlete" />
        <activity android:name="com.example.zavodapp.ShowComplete" />
        <activity android:name="com.example.zavodapp.Inzener.ControlActivityInzener" />
        <activity android:name="com.example.zavodapp.Inzener.MainRoster" />
        <activity android:name="com.example.zavodapp.Inzener.ReadRoster" />
        <activity android:name="com.example.zavodapp.Inzener.ShowRoster" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>
</manifest>